@import "base.css";  /* calling the css file with the font and basic styles */
/*



HEADER SECTION



*/
body > header.hero {
  height: 901px;
  position: relative;
  background: url(../assets/images/hero.png) 0 0 no-repeat;
  background-size: cover;
  padding-top: 41px;
}
body > header.hero > nav {
  width: 83.6%;
  margin: 0 6.4% 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Nunito-400";
}
body > header.hero > nav > div.logo {
  margin-top: 10px;
}
body > header.hero > nav > div.mobile-menu {
  cursor: pointer;
  display: none;
  width: 40px;
  height: 40px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 8px 0;
}
body > header.hero > nav > div.mobile-menu > div {
  width: 28px;
  height: 2px;
  border-radius: 5px;
  background: #fff;
}
body > header.hero > nav > ul {
  width: 64%;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
body > header.hero > nav > ul,
body > header.hero > nav > ul a {
  text-decoration: none;
  color: #ffffff;
}
body > header.hero > nav > ul li:nth-last-child(1) {
  background: #3e84f8;
  color: #ffffff;
  padding: 18px 32px;
  border-radius: 5px;
  cursor: pointer;
}
body > header.hero > #hero-sect {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 16.26%;
}
body > header.hero > #hero-sect #hero-txt {
  width: 750px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body > header.hero > #hero-sect #hero-txt h1 {
  font-family: "Satoshi-900";
  line-height: 80px;
  font-size: 72px;
}
body > header.hero > #hero-sect #hero-txt p {
  margin: 1.6% 0 8% 0;
  font-family: "Inter-400";
  line-height: 31px;
  font-size: 21px;
}
body > header.hero > #hero-sect #hero-txt button {
  width: 273px;
  height: 64px;
  border: 2px solid #ffffff;
  border-radius: 8px;
  background: transparent;
  cursor: pointer;
}
body > header.hero > #hero-sect #hero-txt button:hover {
  box-shadow: 0px 18px 35px 0px #3e84f83b;
  filter: drop-shadow(0px 18px 35px rgba(62, 132, 248, 0.23));
  transition: 0.1s linear;
}
body > header.hero > #hero-sect #hero-txt button i {
  font-style: normal;
  font-family: "Nunito-400";
  color: #ffffff;
  font-size: 21px;
  margin-right: 12px;
}
@media screen and (max-width: 1300px) {
  body > header.hero > nav {
    margin-top: 3%;
  }
}
@media screen and (max-width: 1120px) and (min-width: 1071px) {
  body > header.hero > nav > ul {
    width: 66%;
  }
}
@media screen and (max-width: 1090px) {
  .hl {
    display: none;
  }
}
@media screen and (max-width: 1070px) and (min-width: 1046px) {
  body > header.hero > nav > ul {
    width: 68%;
  }
}
@media screen and (max-width: 1045px) and (min-width: 1021px) {
  body > header.hero > nav > ul {
    width: 70%;
  }
}
@media screen and (max-width: 1020px) and (min-width: 1001px) {
  body > header.hero > nav > ul {
    width: 72%;
  }
}
@media screen and (max-width: 1000px) and (min-width: 900px) {
  .hl {
    display: none;
  }
  body > header.hero > nav {
    width: 92%;
    margin: 4% 4% 0 4%;
  }
  body > header.hero > nav > ul {
    width: 65%;
  }
  body > header.hero > nav > ul li {
    font-size: 13px;
  }
  body > header.hero > nav > ul li:nth-last-child(1) {
    padding: 12px 24px;
  }
  body > header.hero > #hero-sect {
    margin-top: 20%;
  }
  body > header.hero > #hero-sect #hero-txt h1 {
    font-size: 62px;
    width: 80%;
    margin-bottom: 26px;
  }
}
@media screen and (max-width: 899px) and (min-width: 601px) {
  .hl {
    display: none;
  }
  body > header.hero {
    background: url(../assets/images/hero.png) 0 0 no-repeat;
    background-size: cover;
    padding-top: 52px;
    height: 880px;
  }
  body > header.hero > nav {
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 0 12%;
  }
  body > header.hero > nav > div.logo {
    margin: 0 0 0 15px;
    display: flex;
    align-items: center;
    padding-top: 3px;
  }
  body > header.hero > nav > div.mobile-menu {
    display: flex;
  }
  body > header.hero > nav > ul {
    display: none;
  }
  body > header.hero > #hero-sect #hero-txt {
    width: 550px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  body > header.hero > #hero-sect #hero-txt h1 {
    padding: 0;
    line-height: 70px;
    font-size: 57px;
    width: 515px;
    margin: 40px 0 10px 0;
  }
  body > header.hero > #hero-sect #hero-txt p {
    margin: 1.6% 5% 28% 5%;
    font-family: "Inter-400";
    line-height: 25px;
    font-size: 18px;
  }
}
@media screen and (max-width: 600px) and (min-width: 429px) {
  .hl {
    display: none;
  }
  body > header.hero {
    background: url(../assets/images/hero-mb.png) 0 0 no-repeat;
    background-size: cover;
    padding-top: 52px;
    height: 775px;
  }
  body > header.hero > nav {
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 0 8%;
  }
  body > header.hero > nav > div.logo {
    margin: 0 0 0 15px;
    display: flex;
    align-items: center;
    padding-top: 3px;
  }
  body > header.hero > nav > div.mobile-menu {
    display: flex;
  }
  body > header.hero > nav > ul {
    display: none;
  }
  body > header.hero > #hero-sect #hero-txt {
    width: 420px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  body > header.hero > #hero-sect #hero-txt h1 {
    padding: 0;
    line-height: 60px;
    font-size: 42px;
    width: 380px;
    margin: 40px 0 10px 0;
  }
  body > header.hero > #hero-sect #hero-txt p {
    margin: 1.6% 5% 30% 5%;
    font-family: "Inter-400";
    line-height: 25px;
    font-size: 18px;
  }
  body > header.hero > #hero-sect #hero-txt button {
    width: 65%;
    height: 64px;
    background: #3269f9;
    box-shadow: 0px 18px 35px rgba(62, 132, 248, 0.23);
    border-radius: 8px;
    border: none;
  }
  body > header.hero > #hero-sect #hero-txt button i {
    font-style: normal;
    font-family: "Nunito-400";
    color: #ffffff;
    font-size: 18px;
    line-height: 20px;
    margin-right: 12px;
  }
}
@media screen and (max-width: 1150px) {
  body > header.hero > nav {
    margin-top: 5%;
  }
  @media screen and (max-width: 428px) {
    .hl {
      display: none;
    }
    body > header.hero {
      background: url(../assets/images/hero-mb.png) 0 0 no-repeat;
      padding-top: 52px;
      height: 775px;
    }
    body > header.hero > nav {
      width: 100%;
      align-items: center;
      margin: 0;
      padding: 0 4%;
    }
    body > header.hero > nav > div.logo {
      margin: 0 0 0 15px;
      display: flex;
      align-items: center;
      padding-top: 3px;
    }
    body > header.hero > nav > div.mobile-menu {
      display: flex;
    }
    body > header.hero > nav > ul {
      display: none;
    }
    body > #about-us article:nth-child(2),
    section#what-we-do > article.list-of-what-we-do {
      overflow-x: scroll;
    }
    body > header.hero > #hero-sect {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 44.8%;
    }
    body > header.hero > #hero-sect #hero-txt {
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    body > header.hero > #hero-sect #hero-txt h1 {
      line-height: 115%;
      font-size: 252%;
      width: 100%;
      padding: 0 3.5% 0 2%;
    }
    body > header.hero > #hero-sect #hero-txt p {
      margin: 1.6% 5% 27% 5%;
      font-family: "Inter-400";
      line-height: 25px;
      font-size: 16px;
    }
    @media screen and (max-width: 400px) {
      body > header.hero > nav {
        width: 100%;
        padding: 0 10%;
      }
      body > header.hero > nav > div.logo {
        margin: 0;
      }
      body > header.hero > #hero-sect #hero-txt h1 {
        line-height: 120%;
        font-size: 211.5%;
        width: 100%;
        padding: 0 5% 0 5%;
        margin-bottom: 15px;
      }
      @media screen and (max-width: 338px) {
        body > header.hero > #hero-sect #hero-txt h1 {
          font-size: 178.8%;
        }
        @media screen and (max-width: 285px) {
          body > header.hero > #hero-sect #hero-txt h1 {
            font-size: 174%;
          }
          @media screen and (max-width: 280px) {
            body > header.hero {
              padding-top: 45px;
              height: 720px;
            }
            body > header.hero > #hero-sect {
              margin-top: 45%;
            }
            body > header.hero > #hero-sect #hero-txt h1 {
              font-size: 25px;
            }
            @media screen and (max-width: 250px) {
              body {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  body > header.hero > #hero-sect #hero-txt button {
    width: 65%;
    height: 64px;
    background: #3269f9;
    box-shadow: 0px 18px 35px rgba(62, 132, 248, 0.23);
    border-radius: 8px;
    border: none;
  }
  body > header.hero > #hero-sect #hero-txt button i {
    font-style: normal;
    font-family: "Nunito-400";
    color: #ffffff;
    font-size: 17px;
    line-height: 20px;
    margin-right: 12px;
  }
}
#hero-line {
  position: absolute;
  top: 22%;
  left: 15%;
}
#hero-line {
  position: absolute;
  top: 22%;
  left: 15%;
}
/* 



  ABOUT US SECTION
 
  
  
*/
body > #about-us {
  background: rgba(62, 132, 248, 0.06);
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*
  ABOUT SECTION ARTICLE 1:
  contains the header and paragraph of the about page
*/
body > #about-us article:nth-child(1) {
  width: 52%;
  padding: 8.5% 0 6% 0;
}
body > #about-us article:nth-child(1) h2 {
  font-family: "Satoshi-900";
  font-size: 48px;
  line-height: 67px;
  margin-bottom: 10px;
  text-align: center;
  color: #3e3934;
}
body > #about-us article:nth-child(1) p {
  font-family: "Inter-400";
  font-size: 21px;
  line-height: 31px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 768px) {
  body > #about-us article:nth-child(1) {
    width: 60%;
    padding: 16% 0 9% 0;
  }
  body > #about-us article:nth-child(1) h2 {
    font-family: "Satoshi-900";
    font-size: 42px;
    line-height: 60px;
  }
  body > #about-us article:nth-child(1) p {
    font-family: "Inter-400";
    font-size: 18px;
    line-height: 28px;
  }
  @media screen and (max-width: 700px) {
    body > #about-us article:nth-child(1) {
      width: 65%;
    }
    @media screen and (max-width: 500px) {
      body > #about-us article:nth-child(1) {
        width: 70%;
        padding: 28% 0 15% 0;
      }
      body > #about-us article:nth-child(1) h2 {
        font-family: "Satoshi-900";
        font-size: 40px;
        line-height: 55px;
      }
      @media screen and (max-width: 428px) {
        body > #about-us {
          width: 100%;
          margin: 0;
          padding: 0 2%;
        }
        body > #about-us article {
          margin: 0;
          padding: 0;
        }
        body > #about-us article:nth-child(1) {
          width: 96%;
        }
        body > #about-us article:nth-child(1) h2 {
          font-family: "Satoshi-900";
          font-size: 36px;
          line-height: 46px;
        }
        body > #about-us article:nth-child(1) p {
          font-family: "Inter-400";
          font-size: 16px;
          line-height: 25px;
        }
        @media screen and (max-width: 291px) {
          body > #about-us {
            width: 100%;
            margin: 0;
            padding: 0 2%;
          }
          body > #about-us article:nth-child(1) {
            width: 96%;
          }
          body > #about-us article:nth-child(1) h2 {
            font-family: "Satoshi-900";
            font-size: 30px;
            line-height: 40px;
          }
          body > #about-us article:nth-child(1) p {
            font-family: "Inter-400";
            font-size: 14px;
            line-height: 22px;
          }
        }
      }
    }
  }
}
/*
  ABOUT SECTION ARTICLE 2:
  contains the four cards(rectangular boxes) of the about page
*/
body > #about-us article:nth-child(2) {
  display: flex;
  margin: 0 0 150px 0;
  padding: 0 100px;
}
body > #about-us article:nth-child(2) div {
  /*width: 400px;*/
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 49px 47px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  padding: 32px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 49px 47px rgba(0, 0, 0, 0.07);
}
body > #about-us > article:nth-child(2) > div > h3 {
  font-family: "Satoshi-700";
  font-size: 24px;
  line-height: 31px;
  color: #3e3934;
  margin: 16px 0;
}
body > #about-us > article:nth-child(2) > div > p {
  font-family: "Inter-400";
  font-size: 18px;
  line-height: 31px;
  color: #000000;
  margin-bottom: 32px;
}
body > #about-us > article:nth-child(2) > div > button {
  display: flex;
  align-items: center;
  border-radius: 8px;
  line-height: 22px;
  letter-spacing: -0.015em;
  padding: 18px 16px;
}
body > #about-us > article:nth-child(2) > div > button i {
  font-size: 16px;
  color: #ffffff;
}
body > #about-us > article:nth-child(2) > div:nth-child(1) > button,
body > #about-us > article:nth-child(2) > div:nth-child(3) > button {
  background: #3e84f8;
}
body > #about-us > article:nth-child(2) > div:nth-child(2) > button {
  background: #ffbd08;
}
body > #about-us > article:nth-child(2) > div:nth-child(4) > button {
  background: #ed4239;
}

body > #about-us > article:nth-child(2) > div img.about-sect-line {
  position: absolute;
  bottom: -30px;
  left: 0;
}
body
  > #about-us
  > article:nth-child(2)
  > div
  img.about-sect-line:nth-last-child(1) {
  left: 100%;
}
/*
  ABOUT SECTION ARTICLE 3:
  contains the three cards(square boxes with svg images) of the about page
 */
body > #about-us > article:nth-child(3) {
  width: 100%;
  font-family: "Nunito-700";
  color: #ffffff;
  text-align: center;
}
body > #about-us > article:nth-child(3) > div {
  box-shadow: 0px 49px 47px rgba(0, 0, 0, 0.07);
  border-radius: 16px;
  width: 85%;
  height: 85%;
  font-family: "Nunito-700";
}
body > #about-us > article:nth-child(3) > div:nth-last-child(1) {
  background: #ffbd08;
}
body > #about-us > article:nth-child(3) > div:nth-last-child(2) {
  background: #3e84f8;
}
@media screen and (max-width: 428px) {
  body {
    overflow-x: hidden;
  }
  body > #about-us article:nth-child(3) > img {
    display: none;
  }
  #dsktp-our-mission {
    display: none;
  }
  #mb-our-mission {
    background: #ef4239;
  }
  body > #about-us article:nth-child(3) {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 429px) {
  body > #about-us article:nth-child(3) {
    position: relative;
    height: calc(70vw + 150px);
  }
  #mb-our-mission {
    display: none;
  }
  body > #about-us article:nth-child(3) > div {
    position: absolute;
    box-shadow: 0px 49px 47px rgba(0, 0, 0, 0.07);
    border-radius: 16px;
    width: calc((573 / 1440) * 100vw);
    height: calc((573 / 1440) * 100vw);
  }
  body > #about-us article:nth-child(3) > div img {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: auto;
  }
  body > #about-us article:nth-child(3) > div#resp-our-philosophy {
    top: 0px;
    right: 15vw;
    mix-blend-mode: multiply;
  }
  body > #about-us article:nth-child(3) > div#resp-our-philosophy img {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: auto;
  }
  body > #about-us article:nth-child(3) > div#resp-our-vision {
    top: 13vw;
    left: 16vw;
    mix-blend-mode: multiply;
  }
  body > #about-us article:nth-child(3) > div#resp-our-vision img {
    position: absolute;
    top: 0;
    left: 0;
    width: calc((536 / 1440) * 100vw);
    height: calc((536 / 1440) * 100vw);
  }
  body > #about-us article:nth-child(3) > div#dsktp-our-mission {
    top: 30vw;
    right: 24vw;
    display: grid;
    grid-template-areas: "item";
    place-content: end stretch;
    width: calc((573 / 1440) * 100vw);
    height: calc((573 / 1440) * 100vw);
  }
  body > #about-us article:nth-child(3) > div#dsktp-our-mission::before {
    content: "";
    grid-area: item;
    border-radius: 16px;
    width: calc((573 / 1440) * 100vw);
    height: calc((573 / 1440) * 100vw);
    background: #ef4239;
    mix-blend-mode: multiply;
  }
  .item {
    grid-area: item;
    color: white;
  }
  body > #about-us article:nth-child(3) > div#dsktp-our-mission img {
    top: 105px;
    left: 117px;
    width: calc((426 / 1440) * 100vw);
    height: calc((426 / 1440) * 100vw);
    z-index: 2;
  }
}
/*



WHAT WE DO SECTION



*/

#what-we-do {
  background: transparent;
  margin: 80px 0;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
}
section#what-we-do > article.heading {
  width: 690px;
  align-self: center;
  margin-bottom: 70px;
}
section#what-we-do > article.heading h2 {
  font-family: "Satoshi-900";
  font-size: 48px;
  line-height: 67px;
  /* identical to box height, or 140% */
  text-align: center;
  color: #3e3934;
  margin-bottom: 16px;
}
section#what-we-do > article.heading p {
  font-family: "Inter-400";
  font-size: 21px;
  line-height: 32px;
  /* or 150% */
  text-align: center;
  color: #000000;
}
section#what-we-do > article.list-of-what-we-do {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1px;
  row-gap: 18px;
  padding: 0 8%;
  width: auto;
}
section#what-we-do > article.list-of-what-we-do > div {
  width: 360px;
  height: 545px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  position: static;
  left: 801px;
  right: 0px;
  top: 0px;

  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 49px 47px rgba(0, 0, 0, 0.07);
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 0px;
}
section#what-we-do > article.list-of-what-we-do > div h3 {
  margin: 32px 0;
}
section#what-we-do > article.list-of-what-we-do > div ul {
  margin-left: 17px;
  padding: 0 15px;
  font-size: 21px;
  line-height: 38px;
  /* or 183% */

  color: #000000;
  font-family: "Inter-400";
}
section#what-we-do > article.list-of-what-we-do > div button {
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  font-family: "Nunito-400";
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  padding: 18px 16px;
  color: #ffffff;
  margin: 32px 0;
}
section#what-we-do > article.list-of-what-we-do > div:nth-child(1) button,
section#what-we-do > article.list-of-what-we-do > div:nth-child(5) button {
  background: #3e84f8;
}
section#what-we-do > article.list-of-what-we-do > div:nth-child(2) button,
section#what-we-do > article.list-of-what-we-do > div:nth-child(4) button {
  background: #ffbd08;
}
section#what-we-do > article.list-of-what-we-do > div:nth-child(3) button {
  background: #ed4239;
}
/*RESPONSIVENESS ISH*/
@media screen and (max-width: 428px) {
  section#what-we-do > article.list-of-what-we-do {
    flex-wrap: nowrap;
  }
}