/*
CALLING FONTS FROM THE ASSETS FOLDER (fontface)
*/
@font-face {
    font-family: DM-Sans-500;
    src: url(assets/fonts/DM_Sans/DMSans-Medium.ttf);
}
@font-face {
    font-family: Inter-500;
    src: url(assets/fonts/Inter/Inter-Medium.ttf);
}
@font-face {
    font-family: Inter-400;
    src: url(assets/fonts/Inter/Inter-Regular.ttf);
}
@font-face {
    font-family: Nunito-400;
    src: url(assets/fonts/Nunito/Nunito-Regular.ttf);
}
@font-face {
    font-family: Nunito-600;
    src: url(assets/fonts/Nunito/Nunito-SemiBold.ttf);
}
@font-face {
    font-family: Nunito-700;
    src: url(assets/fonts/Nunito/Nunito-Bold.ttf);
}
@font-face {
    font-family: Poppins-600;
    src: url(assets/fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: Poppins-700;
    src: url(assets/fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: Satoshi-700;
    src: url(assets/fonts/Satoshi/Satoshi-Bold.otf);
}
@font-face {
    font-family: Satoshi-900;
    src: url(assets/fonts/Satoshi/Satoshi-Black.otf);
}
@font-face {
    font-family: Sora-300;
    src: url(assets/fonts/Sora/Sora-Light.ttf);
}

/* Removing some default styles */

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}
html, body {
    width: 100%;
}

/* edit or add your styles below */
#verti{
    width: 2px;
    height: 500px;
    background-color: black;
    margin-left: 233px;
    stroke-dasharray: 12px;
    

}
.gallery {
    border: 1rem;
    height: 700px;
    text-align: center;
    padding: -2px;
}
.topic-and-arrows{
    font-family: Nunito-700;

}
.gallery p{
    font-family: Nunito-600;

}
.prev,
.next {
    padding: 16px;
    margin-top: -50px;
    margin-right: -420px;
    margin-left: 450px;
    border-radius: 70%;
    width: 75px;   
}

/* On hover, add a background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(197, 189, 189, 0.692);
}

.mySlides-fade {
    float: right;
    width: 31%;
    padding-top: 100px;
    right: 50%;

}
#img-2 {
    margin-right: -2%;
}
#pik{
    margin-right: -5%;
    
}
.col-1{
    margin-top: 240px;
}

.btn{
    width: 200px;
    border: 0;
    height: 47px;
    font-family: Roboto , sans-serif;
    padding: 12px 10px;
    outline:none;
    color: white;
    background: rgb(55, 114, 241);
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: width 0.5s ease;
    box-shadow: 0px 8px 25px  rgb(106, 176, 199);
}

.btn img{
    width: 20px;
    image-resolution: highest;
    margin-left: 5%;
    margin-bottom: 1%;
}

.col-1{
    position: absolute;
    padding-top: 22%;
    left: 45%;
}
.col-1::after {
    content: '';
    width: 10px;
    height: 57%;
    position: absolute;
    left: -40px;
    top: 8px;
}

#our-achievements{
    padding-top: 100px;
    align-items: center;
    text-align: center;
    padding: -2px;
}
.achieve{
    background-image: url(assets/images/ourAchievementBackgroundImage.png) ;
    background-size: contain;
    height: 610px;

}

.achieve ::after{
    content: "";
    display: table;
    clear: both;
    height: 1px;
}
.boxes{
    display: flex; 
    flex-wrap: wrap !important;
    justify-content:center;
    box-shadow: 40% rgba(197, 189, 189, 0.692);
}
.ach{
    width: 16%;
    margin-top: 394px;
    text-align: center;
    border-radius: 17px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.12);
    cursor:pointer;
    transition: all 0.4s ease;


    
}
.ach img{
    border-radius: 10px 10px 0px 0px;
    border-left-style: none;
}
.topic{
    text-decoration: solid;
    font-size: 120%;
    font-family: Nunito-600;
}
.val{
    font-size: 70px;
    font-family: Poppins-600;
}


.btn-2{
    width: 230px;
    height: 47px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: white;
    background: rgb(55, 114, 241);
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: width 0.5s ease;
    text-align: center;
    margin-bottom: 12px;
    box-shadow: 0px 8px 25px  rgb(106, 176, 199);
}
.btn-2 img{
    width: 18px;
    image-resolution: highest;
    margin-left: 5%;
    margin-bottom: 1%;
}

#contact{
    margin-top: 400px;
    align-items: left;
    text-align: left;
    padding: -2px;
    top: 650px;
}
.tact{
    text-align: center;
    background-color: #f0f8ff;    
}
.tact h2{
    font-family: Satoshi-Bold;
    font-size: 30px;
}
.tact p{
    font-family: Nunito-600;

}
.form{
    margin-top: 150px;
    
}
.add{
    align-items: left;
    padding-left:60%;
    margin-top: -41%;
    font-family: Nunito-500;

}
#name{
    height: 60px;
    padding-left: 15px;
    position: absolute;
    left: 200px;
    padding-top: 5px;
    width: 250px;
    font-family: Nunito-600;

}
#email{
    height: 60px;
    padding-left: 20px;
    position: absolute;
    left: 500px;
    padding-top: 5px;
    width: 250px;
    font-family: Nunito-600;

}
#message{
    height: 290px;
    margin-left: -480px;
    position: absolute;
    margin-top: 100px;
    width: 555px;
    padding-top: 16px;
    padding-left: 15px;
    font-family: Nunito-600;
    
}
footer{
    margin-top: 290px;
    background-color: #f0f8ff;
}

.list{
    position: relative;
    display: flex;
}

.list li{
    list-style: none;
    margin:0 40px;
    text-decoration: none;
}
footer .list a{
    font-size: 18px;
    font-weight: 500;
    color: black;
    padding:6px 0;
    transition: all 0.4s ease;
    text-decoration: none;
}
footer .list a:hover{
    color:rgb(106, 176, 199);
}

#foot-logo{
    margin-left: 79px;
    margin-right: 64px;
}
 
#socials{
    align-items: center;
    display: flex;
    width: 90%;
    margin-top: 1%;
    background-color: #f0f8ff;


}

#socials img{
    border-radius: 50%;
    color:#f0f8ff;
    width: 8%;
    margin-left: 2%;    
    padding: 5px;
    image-rendering: pixelated;
    image-resolution: highest;
    background-color: white;

}
#foot{
    background-color: f0f8ff;
    padding-top: 20%;
}
#icons{
    background-color: #f0f8ff;
    margin: 4% 12% 0% 42%;
}
#copyright{
    margin: 0% 12% 0% -6%;

}
@media (max-width:1190px){
    section{
      width:85%;
    }
}


